//
// Base structure
//

.logo {
    float: left;
    margin: 0;
    padding: 0;
}

.right-col {
    min-height: 500px;
    background: ~"url(@{static-url-prefix}imgs/bg_right_col.png)" no-repeat left top;
}

.box-yellow {
    padding-bottom: 100px;

    header {
        padding-bottom: 10px;
        background: ~"url(@{static-url-prefix}imgs/bg_dash_yellow.gif)" repeat-x left top;
        
        h2 {
            display: inline;
            padding-right: 10px;
            font-size: 22px;
            line-height: 17px;
            text-transform: uppercase;
            color: @defaultYellow;
            background: @white;
        }
    }

    footer {
        background: #e5e5e5;
        text-align: center;

        .btn-more {
            display: block;
            padding: 2px;
            color: @defaultYellow;
            font-size: 12px;
        }
    }
}

.list-colored {
    li {
        padding: 0 5px;

        &:nth-child(odd) {
            background: #e5e5e5;    
        }  

        a {
            color: @defaultGrey;
            font-size: 12px;

            span {
                font-size: 11px;
                color: #b1b1b1;
            }
        }
    }
}

.side-box {
    margin-bottom: 20px;

    header {
        h2 {
            font-size: 16px;
            padding: 0;
            margin: 0;
            line-height: 18px;
            color: #008267;
            text-transform: uppercase;
        }
    }

    &.box-gray {
        .box-content {
            padding: 5px 20px;
            background: #e6e6e6;

            h3 {
                margin: 0;
                font-size: 12px;
                line-height: 22px;
                color: #373737;
            }
        }
    }

    footer {
        padding: 0 20px;
        text-align: right;
        font-size: 12px;
        color: #919191;

        a {
            
            color: #919191;
        }
    }
}

.main-footer {
    text-align: center;
    min-height: 100px;
    padding: 20px 0;
    background: ~"url(@{static-url-prefix}imgs/bg_main_footer.jpg)" no-repeat center top;

    .nav-form-wrapper {
        display: inline-block;
        text-align: left;
        padding-bottom: 20px;
    }   

    .footer-content {
        p {
            font-size: 12px;
            line-height: 18px;
            color: @defaultGrey;
            margin: 0;
        }
    }
}
